.site-header {
    padding: 1rem 0;
    background: #6F7F5B;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
    margin-top: 2%;
    margin-bottom: 2%;
}

.logo {
    position: absolute;
    left: 3rem;
    top: 50%;
    transform: translateY(-50%);
    width: 150px;
    height: auto;
    background-color: transparent;
}

.site-title {
    margin: 0;
    color: #A7B98C;
    font-size: 3rem;
    text-align: center;
    flex-grow: 0;
}

@media (max-width: 768px) {
    .header-wrapper {
        gap: 10px;
    }
    .logo {
        width: 80px;
    }
    .site-title {
        font-size: 1.2rem;
    }
}

