h2 {
    text-align : center;
    margin : 2rem;
    font-size : 1.5rem;
}

.input-group{
    width : 50%;   
    margin : 0 auto;
 
}

.card {
    width : 18rem ;   
    margin : 5rem; 
}




.d-block{
    width : 100%;
    height : 100%;
}

#col4{
    background-color : yellow;
}
#col5{
    background-color : pink;
}


/* zone de test */
