h2 {
    text-align : center;
    margin : 2rem;
    font-size : 1.5rem;
}

.card {
    width : 18rem ;   
    margin : 5rem; 
}

.card-1{
    background-color: rgba(229, 229, 194, 0.951);
}


.d-block{
    width : 100%;
    height : 100%;
}

#col4{
    background-color : yellow;
}
#col5{
    background-color : pink;
}