h2, h3 {
    text-align : center;
    margin : 2rem;
    font-size : 1.5rem;
}

.input-group{
    width : 50%;   
    margin : 0 auto;
}

.card {
    width : 18rem ;   
    margin : 5rem; 
}

a {
    color : black;
    text-decoration: none;
}

a:hover {
    color : black;
    text-decoration: underline;
}


.d-block{
    width : 80%;
    height : 60%;
    margin : 0 auto;
}


/* zone de test */

#menu, #menu2, #menu3 {
	font-family: Verdana, Geneva, sans-serif;
	width: 1000px;
    margin-top : 0.5rem;
}

.hide{ display:none; }
.show{ display:block; }